.NavbarSection {
    background:linear-gradient(45deg, black, rgb(75, 1, 1));
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoSection {
    width: 40%;
}

.MenuSection {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.MenuSection a{
    text-decoration: none;
    color: white;
}